---
layout: default
banner-image: /assets/images/blog-assets/blog-bg-10.jpg
banner-heading: Exploring Sumbawa.
banner-paragraph: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
banner-url: /2023/01/03/third-post.html
---

<section >
	<h3 class="text-center font-serif p-5p">recently on the blog.</h3>
	<div class="p-8 columns-3 gap-6">

		{% for post in site.posts limit: 9 %}
		
		{% include post-loop-item-adaptive.html %}
		
		{% endfor %}

	</div>

</section> 