
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

/* ---------Default Styles to apply to whole project ------------ */

@layer base {

  h1, h2, h3, h4  {
      @apply font-serif mb-[0.5em];
  }

  h1 {
      @apply text-9xl leading-tight;
  }
  h2 {
      @apply text-6xl leading-tight;
  }
  h3 {
      @apply text-xl uppercase leading-tight font-serif;
  }

  h4 {
      @apply text-lg leading-tight;
  }

  p {
      @apply mb-[0.5em] leading-normal;
  }

  a {
      @apply font-serif uppercase border-b-2 border-current;
  }

}

/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

  .tag {
      @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
  }

  .button  {
      @apply inline-block pt-2 uppercase tracking-wide;
  }
  
  .post-content {
      @apply text-center;
  }

  #body #section-memberspace-login-form {
      @apply flex justify-start;
  }

  #body #memberspace-login-form input {
      @apply border-b-2 border-b-black;
   }
   
   #body #memberspace-login-form label {
      @apply uppercase;
   }
   
   /* Forgot Email / forgot password text */
   #body #memberspace-login-form .MemberSpaceWidgetInternal__InputWrapper_labelRight {
      @apply text-gray-600
    }
   
   
   #body #memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-primary {
      @apply text-white;
   }
   
   #body #memberspace-login-form .MemberSpaceWidgetInternal__Button_variant-secondary {
       color: blue;
   }
    
   #body .MemberSpaceWidgetInternal__BrandedInterface_footer {display: none; }

 
}