<section class="bg-[#E0DCD9]">
    <div class="px-2 py-5p">
        <h3 class="text-center font-serif p-5p">recently on the blog...</h3>
        <div class="flex flex-nowrap gap-6 overflow-x-scroll">
            
                {% for item in site.posts limit: 9 %}
            <div class="{% cycle 'basis-1/4', 'basis-1/2' %} shrink-0">
                <div style="background-image:url({{item.featured_image}})" class="min-h-[40vh] bg-center bg-cover">
                </div>
                <div class="py-5 px-2 max-w-[20vw]">
                    <h4 class="uppercase font-sans">{{item.title}}</h4>
                    <p>{{item.description}}</p>
                    <a href="{{item.url}}" class="button">READ MORE</a>
                </div>
            </div>
                {% endfor %}
            
        </div>
    </div>
</section>