<section class="bg-[#F2EFEC]">
    <div class="px-2 pb-5p max-w-screen-xl mx-auto">
        <h3 class="text-center font-serif text-6xl pt-16">Lightroom Presets</h3>
        <div class="grid grid-cols-3 gap-6 p-8"> 
                {% for item in site.presets limit: 3 %}
            <div class=" bg-white min-h-70">
                
                <div style="background-image:url({{item.featured_image}})" class="aspect-portrait-tall bg-center bg-cover">
                </div>
            
                <div class="py-5 px-4 max-w-[20vw]">
                    <h4 class="uppercase text-sm font-sans inline-block px-2 py-3 bg-[#F2EFEC]">{{item.type}}</h4>
                    <h4 class="uppercase font-sans py-2">{{item.title}}</h4>
                    <p>{{item.description}}</p>
                    <p>${{item.price}}</p>
                </div>
            </div>
                {% endfor %}  
        </div>
    </div>
</section>