<section>
    <div class="px-2 py-5p">
        <h3 class="text-center font-serif p-5p">Travel Guides</h3>
        <div class="flex flex-nowrap gap-6">
            
                {% for item in site.travel-guides limit: 3 %}
            <div class="">
                <div style="background-image:url({{item.featured_image}})" class="min-h-[40vh] bg-center bg-cover">
                </div>
                <div class="py-5 px-2 max-w-[20vw]">
                    <h4 class="uppercase font-sans">{{item.type}}</h4>
                    <h4 class="uppercase font-sans">{{item.title}}</h4>
                    <p>{{item.description}}</p>
                </div>
            </div>
                {% endfor %}
            
        </div>
    </div>
</section>