<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body id="body">
    <header class="bg-[#F2EFEC]">
        <div class="max-w-screen-xl mx-auto flex justify-between p-5p">
            <nav>
                <a href="/index.html">LOGO</a>
            </nav>
            <nav class="flex gap-10">
                <a href="/blog">BLOG</a>
                <a href="/shop">SHOP</a>
                <a href="member-login">MEMBERS LOGIN</a>
            </nav>
        </div>
    </header>

    {% if page.banner-image %}
        <section style="background-image:url({{page.banner-image}})" class="bg-cover bg-center bg-no-repeat min-h-screen">
            <div class="max-w-screen-xl mx-auto flex items-center min-h-[100vh] p-5p">
                <div class="text-[#F2EFEC]">
                    <h1 class="max-w-[40vw]">{{page.banner-heading}}</h1>
                    <p class="uppercase max-w-[22vw]">{{page.banner-paragraph}}</p>
                    {% if page.banner-url %}
                    <a href="{{page.banner-url}}">READ MORE</a>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

   

    {{content}}

    <footer>Footer</footer>

    <!--------Membership popup -->

    <script> var MemberSpace = window.MemberSpace || {"subdomain":"cloudvent8httpsstable-gourdcloudventnet"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script>

</body>
</html>